<h1>Doctors#index</h1>
<p>Find me in app/views/doctors/index.html.erb</p>


<section class="clients-index">
  <div class="card">
    <div class="content">
      <div class="header card-header-text sical-card-header">
        <h1 class="sical-card-title">
          Medicos
        </h1>
        <div>
          <%= link_to 'Nuevo Medico', new_doctor_path, class: "btn btn-primary align-right" %>
        </div>
      </div>
      <div class="client-content">
        <div id="client-table">
          <%= render 'doctors_table', doctors: @doctors %>
        </div>
      </div>
    </div>
  </div>
</section>