<!DOCTYPE html>
<html>
  <head>
    <title>MyMedical</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="font-awesome/css/font-awesome.css" rel="stylesheet">-->
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>


  <body>
    <div id="wrapper">
      <%render 'layouts/navbar' %>
      <%render 'layouts/static_top' %>
      <%render 'layouts/row_wrapper' %>
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                      <%=yield%>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    
  </body>
   <!-- Js Libraries -->
  <%= javascript_include_tag 'application' %>

</html>


